body {
	font-family: "Lato", sans-serif;
	margin: 0;
	background-color: #dddddd;
}

.header {
	background-color: #222222;
	height: 10em;
	padding: 16px 0 0 0;
}

.header-title {
	color: #FFFFFF;
	font-size: 48px;
	font-weight: bold;
	text-align: center;
	margin: 0 auto;
}

.header-description {
	color: #CFCFCF;
	margin: 8px auto;
	text-align: center;
	font-size: 22px;
	max-width: 700px;
}

.wrapper {
	margin-right: auto;
	margin-left: auto;
	max-width: 1024px;
	padding-right: 10px;
	padding-left: 10px;
	margin-top: 32px;
}

.card {
	margin-bottom: 24px;
	margin-left: 50px;
	margin-right: 55px;
	box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.18);
	display: flex;
  background-color: #eeeeee;
	justify-content: center;
}

.menu {
	height: 60px;
	width: 45em;
	display: flex;
	justify-content: space-evenly;
	padding-top: 10px;
	margin: -35px auto 1em auto;
	background-color: #FFFFFF;
	box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.18);
}

.Select-control {
	width: 256px;
	height: 48px;
}

.Select--single>.Select-control .Select-value,
.Select-placeholder {
	line-height: 48px;
}

.Select--multi .Select-value-label {
	line-height: 48px;
}

.menu-title {
	margin-bottom: 10px;
	margin-top: 14px;
	font-weight: bold;
	color: #079A82;
}

#airport-chart {
	margin: 0px;
	height: 1200px;
	width: 1200px;
}

.prediction-container {
  position: absolute;
  left: 50%;
  top: 284px;
  transform: translate(-50%, -50%);
  width: 900px;
  height: 90px;
  z-index: 1;
  font-size: 22px;
}

h3 {
  font-weight: bold;
  font-size: 30px;
	color: #079A82;
  text-align: center; 
  margin: 0px auto;
}

p {
  font-size: 18px;
  text-align: center;
  display: space-evenly;
}


